<h2>Find out things that you and a particular friend both like. Find your designated friend, click him/her, and see what you guys have in common. Bond!</h2>
<% if @graph %>
  <%= render "search_form" %>
  <%= render "friends", :friends => @friends %>
<% end %>
